body {
  background-color: rgb(245, 231, 205);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.App {
  text-align: center;
}

.Main {
  height: 100vh;
}

.Header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.Rulebook {
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.Footer {
  height: 10vh;
  overflow: auto;
}

.Footer p {
  font-size: smaller;
  margin: 0.5em;
}

.TableOfContents {
  overflow: auto;
  width: 30%;
}

.SelectedChapter {
  width: 70%;
  overflow: auto;
}

.Chapter:hover {
  background-color: rgb(243, 219, 174);
}

.ChapterTitle {
  margin-top: 0.5em;
}

.MenuItem {
  display: grid;
  grid-template-columns: 10% 90%;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.Part {
  text-align: center;
  font-weight: bold;
  padding-top: 0.5em;
}

.Chapter {
  text-align: center;
}

.Searched {
  color: rgb(172, 0, 0);
}

@media screen and (orientation: portrait) {
  .Rulebook {
    flex-direction: column;
  }

  .TableOfContents {
    width: auto;
    height: 30%;
  }

  .SelectedChapter {
    width: auto;
    height: 70%;
  }
}